<%- include("partials/main_header") %>

<!-- Loop from here -->
<% for(let thingstodo of thingstodos) { %>
<div class="img-things-to-do-container-responsive">
    <div class="img-things-to-do-container-gallery">
                            <!-- get id from db -->
        <a href="/thingstodo/<%= thingstodo._id%>"> 
                                            <!-- get image from db -->
            <img class="img-things-to-do" src="<%=thingstodo.image%>">
                                        <!-- get title from db -->
            <div class="title-things-to-do"><%=thingstodo.title%></div>
        </a>                                                       
                                                            <!-- get id from db -->
        <a href="/thingstodo/<%= thingstodo._id%>"><button class="btn-things-to-do">Find Out More</button></a>
    </div>
</div>
<% } %>
<!-- Loop end -->
<div id="map" class="things-to-do-map"></div>
<script>const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const thingstodo = {features: <%-JSON.stringify(thingstodos)%>}</script>
<script src="javascript/mapThingsToDo.js"></script>
<%- include("partials/main_footer") %>