<%- include("partials/main_header") %>
<div class="things-to-do-details-image-container">
    <img class="things-to-do-details-image" src="<%=thingstodos.image%>" alt="<%thingstodos.title%> ">
    <h1 class="things-to-do-details-title"><%=thingstodos.title%></h1>
    <!-- <div class="scroll-down"></div> - Optional -->
    <p class="things-to-do-details-description">
        <%thingstodos.description.split('\n').forEach((ln) => {%>
            <%= ln %><br/>
        <% }) %> 
    </p>
    <!-- <script src="/javascript/textOverflowCheck.js"></script> - Optional -->
    <!-- Top section nav icons -->
<div class="details-nav-row">
    <a class="map-link" href="javascript:;" onclick="scrollToMap()">
        <div class="details-nav-column">
                <i class="fa fa-map-marker" style="color:#E62020;"></i>
                <p class="details-nav-location-text">Location</p>
        </div>
    </a>
    <a class="gallery-link" href="javascript:;" onclick="scrollToGallery()">
        <div class="details-nav-column">
            <i class="fas fa-camera" style="color:yellow"></i>
            <p class="details-nav-gallery-text">Gallery</p>
        </div>
    </a>
    <a href="<%=thingstodos.tour%>" target="_blank">
        <div class="details-nav-column">
            <i class="fas fa-map-signs" style="color:steelblue;"></i>
            <p class="details-nav-tours-text">Tours</p>
        </div>
    </a>
        <!-- Add to plan button -->
        <form action="/myplanner/<%=thingstodos.id%>" method="POST">
            <button class="details-nav-column"> 
                <i class="fas fa-plus-circle" style="color:lightgreen"></i>
                <p class="details-add-text">Add To Plan</p>
            </button>
        </form>
</div>
</div>
<!-- Hidden admin tasks, allows client side creating, editing and deleting things to do -->
<% if(loggedInUser && thingstodos.author.equals(loggedInUser)) { %> 
<div class="bootstrap" style="background-color: #343F4B; color: white; margin-bottom: 20px;">
    <div class="admin-tasks-row">
        <!-- Go Back -->
        <div class="admin-tasks-column">
            <a class="btn btn-info" href="/thingstodo" role="button">Go Back</a>
        </div>
        <!-- Create new thingtodo -->
        <div class="admin-tasks-column">
                <a class="btn btn-success" href="/thingstodo/new" role="button">Create New</a>
        </div>
        <!-- Edit Thingtodo  -->
        <div class="admin-tasks-column">
                <a class="btn btn-primary" href="/thingstodo/<%=thingstodos._id%>/edit" role="button">Edit</a>
        </div>
        <!--  Delete Thingtodo -->
        <div class="admin-tasks-column">
            <form class="delete-form" action="/thingstodo/<%=thingstodos._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger" style="cursor:pointer;">Delete</button>
            </form>
        </div>
        </div>
    </div>
    <% } %>

<!-- GALLERY -->
<div class="slideshow-container">
    <div class="slideshow-headline">Gallery</div>
    <!-- Full-width images with number and caption text -->
        <% for(let img of thingstodos.images){ %> 
        <a href="<%=img.url%>" style="color:white;" target="_blank">
            <div class="mySlides fade">
                <img class="slideshow-image" src="<%=img.url%> ">
            </div>
        </a>    
        <% } %> 
        <!-- Display controls only if there are more than 1 image -->
        <% if(thingstodos.images.length > 1) {%> 
            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        <% } %> 
</div>
<!-------------  TOURS ----------------->
<div class="tours-container">
    <a href="<%=thingstodos.tour%>" target="_blank"><div class="tours-headline" style="color:white;">Tours</div>
    <img class="tours-image" src="/images/tours_adobespark.jpeg" alt="click for tours"></a>
</div>

<!--------------- MAP ------------------>
<div id="map" class="things-to-do-details-map">
    <div class="map-title">Location</div>
</div>
<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const thingstodo = <%-JSON.stringify(thingstodos)%>;
</script>
<script src="/javascript/mapThingToDoDetails.js"></script>

<!--------------- REVIEW FORM ----------------->
<!-- Auth - A user must be logged in to see reviews -->
<% if(loggedInUser) {%> 
<div class="review-container" style="padding: 25px; background-color: #222;">
    <div class="bootstrap" style="background-color: #222; color: white;">
        <h3>Leave a Review</h3>
        <form action="/thingstodo/<%=thingstodos._id%>/reviews" method="POST" style="margin-bottom: 10px;">
            <div style="margin-bottom: 10px;">
                <label for="review-title" class="form-label" style="font-size: 1.2em;">Title</label><br>
                <input class="form-control" type="text" name="review[title]" id="title" required>
            </div>
            
            <!-- Old range field -->
            <!-- <div style="margin-bottom: 3px;">
                <label for="form-control-range">Rating</label>
                <input type="range" class="form-control-range" min="1" max="5" name="review[rating]" id="rating">
            </div> -->
            <!-- Fancy Review Star Rating -->
            <div style="margin-bottom: 10px;">
            <fieldset class="starability-basic">
                <legend>Rating:</legend>
                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>
            </div>
            <!-- Review Body -->
            <div style="margin-bottom: 10px;">
                <label class="form-label" for="review-body">Write Your Review Here</label>
                <textarea class="form-control" name="review[body]" id="body" cols="30" rows="7" required></textarea>
            </div>
            <script>
                var post = document.querySelectorAll('textarea');
                post.textContent = postText;
                post.innerHTML = post.innerHTML.replace(/\n/g, '<br>\n');
            </script>
            <!-- Post review -->
            <button class="btn btn-success" style="cursor:pointer; margin-bottom: 5px;">Submit</button><hr style="border-top: 1px solid gray;">
        </form>
        <!-- Show reviews -->
        <% for(let review of thingstodos.reviews) {%>
            <div class="card mb-3" style="background-color: #242526;">
                <div class="card-body" style="background-color: #242526; margin: 20px;">
                    <h4 class="card-title"><%=review.title%></h4>
                    <h6 class="card-title"><%=review.author.username%></h6>
                    <p class="starability-result" data-rating="<%=review.rating%>">
                        Rated: <%review.rating%>  stars
                    </p>
                    <!-- <h6 class="card-subtitle" style="margin-bottom: 5px;color: lightgrey">By <%= review.author.username %> </h6> -->
                    <p class="card-text"><strong>Review:</strong> <%= review.body %> </p>
                    <!-- Auth - Only user logged in can delete their review -->
                    <% if(loggedInUser && review.author.equals(loggedInUser._id)) {%> 
                    <form action="/thingstodo/<%=thingstodos._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger" style="cursor:pointer;">Delete</button>
                    </form>
                    <% } %> 
                </div>
            </div> 
        <% } %> 
            <!-- If there are no reviews, show this message -->
            <%if(thingstodos.reviews.length === 0){%>
                <p style="text-align: center">No Reviews Yet</p>
            <%}%>
    </div>
</div>
<!-- If user is not logged in -->
<% } else { %>
    <div class="bootstrap" style="padding: 25px; background-color: #222; color: white;">
        <div class="jumbotron jumbotron-fluid" style="background-color: #242526; text-align: center; margin-bottom: 5px;">
            <div class="container">
                <a href="/login" style="color: white;">
                    <h1 class="display-5">Log In To Post Reviews<i class="fas fa-sign-in-alt" style="margin-left: 10px;"></i></h1>
                </a>
            </div>
        </div>
        <!-- Still show reviews but not the form -->
        <% for(let review of thingstodos.reviews) {%>
            <div class="card mb-3" style="background-color: #242526;">
                <div class="card-body" style="background-color: #242526; margin: 20px;">
                    <h4 class="card-title"><%=review.title%></h4>
                    <h6 class="card-title"><%=review.author.username%></h6>
                    <p class="starability-result" data-rating="<%=review.rating%>">
                        Rated: <%review.rating%>  stars
                    </p>
                    <!-- <h6 class="card-subtitle" style="margin-bottom: 5px;color: lightgrey">By <%= review.author.username %> </h6> -->
                    <p class="card-text"><strong>Review:</strong> <%= review.body %> </p>
                    <!-- Auth - Only user logged in can delete their review -->
                    <% if(loggedInUser && review.author.equals(loggedInUser._id)) {%> 
                    <form action="/thingstodo/<%=thingstodos._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger" style="cursor:pointer;">Delete</button>
                    </form>
                    <% } %> 
                </div>
            </div> 
        <% } %> 
            <!-- If there are no reviews, show this message -->
            <%if(thingstodos.reviews.length === 0){%>
                <p style="text-align: center">No Reviews Yet</p>
            <%}%>
    </div>
<% } %> 
<%- include("partials/main_footer") %>