<%- include("../partials/main_header") %>
    <% if(loggedInUser) {%> 
    <div class="bootstrap" style="background-color: #343F4B; color:white;">
        <div class="jumbotron jumbotron-fluid" style="background-color: #242526; text-align: center; margin-bottom: 5px;">
            <div class="container">
              <h1 class="display-4">My Planner</h1>
              <p class="lead"><%= plans.thingstodo.length %> Attraction(s) Planned </p>
              <p class="lead">Organise your plan here. Add an attraction, set a time and date when you've booked and see your planned attractions appear on a map at the bottom of the page.</p>
            </div>
                <div class="planner-add-more-button"> 
                    <a href="/thingstodo" style="text-decoration: none;">
                        <i class="fas fa-plus-circle" style="color:lightgreen"></i>
                        <p class="details-add-text">Add To Planner</p>
                    </a>
                </div>
          </div>
        <!-- Using plans object received by route by app.js -->
        <!-- Iterate over all plans and display-->
        <% if(plans.thingstodo.length !== 0){ %>
        <% for(let plan of plans.thingstodo) { %>
            <div class="card" id="plan-card" style="padding: 10px; background-color: #242526; color:white; text-align: center; margin-bottom: 5px;">
                <div class="row">
                    <div class="col-sm-7" style="position: relative;">
                        <a href="/thingstodo/<%=plan.id%>">
                            <img class="img-fluid" alt="Find out more about <%=plan.title%>" src="<%=plan.image%>" style="border: 1px solid white; margin-bottom:10px; height: 100%; object-fit: cover; width: 100%;">
                            <button class="btn-things-to-do" style="top: 50%;">Find Out More</button>
                        </a>
                    </div>
                    <div class="col-sm-5">
                        <div class="card-body" style="padding: 20px 0">
                            <h5 class="card-title"><%= plan.title %></h5>
                            <p class="card-text">
                                <small class="text-muted"><%= plan.location %> </small>
                            </p>
                            <a href="<%=plan.tour%>" target="_blank" style="text-decoration: none;">
                                <i class="fas fa-map-signs" style="color:steelblue; font-size: 1.5em;"></i>
                                <p class="details-nav-tours-text" style="color: white;">Tours</p>
                            </a>
                            <a class="planner-location-nav-icon" onclick="scrollToMap()" style="cursor: pointer;">
                                <i class="fas fa-map-marker" style="color:#E62020; font-size: 1.5em;"></i>
                                <p class="details-nav-tours-text">Location</p>
                            </a>
                            <!-- If no date/time set or date/time empty show the form to set the date intitially -->
                                    <% if(!plan.date || !plan.time) { %> 
                                        <h5><strong><a href="<%=plan.tour%>" target="_blank" style="font-size: 1.5em;" class="badge badge-primary">Book Here</a><br><br> When You've Booked Set a Date and Time Below</strong></h4>
                                            <hr>
                                    <form id="date-time-form" action="/myplanner/<%=plan._id%>?_method=PUT" method="POST">
                                        <label for="date" class="form-label">Date: </label>
                                        <input type="date" class="form-control-sm" id="date" name="plan[date]" style="margin-bottom: 5px;">
                                        <label for="time" class="form-label">Time: </label>
                                        <input type="time" class="form-control-sm" id="time" name="plan[time]" style="margin-bottom: 15px;"><br>
                                        <button class="btn btn-success" style="cursor:pointer; margin-bottom: 20px;">Set Date and Time</button>
                                    </form>
                                    <!-- If there is already a date and time set, show the form to update existing date and time -->
                                    <% } else { %>
                                        <h2 style="margin-bottom: 15px;"><strong>Confirmed</strong><i class="fas fa-check-circle" style="margin-left: 10px; color: lightgreen;"></i></h2>
                                        <p style="font-size: 1.2em;"><strong>Date:</strong> <%= plan.date %> </p>
                                        <p style="font-size: 1.2em;"><strong>Time:</strong> <%= plan.time %> </p>
                                        <form id="date-time-form" action="/myplanner/<%=plan._id%>?_method=PUT" method="POST">
                                            <label for="date" class="form-label">Date: </label>
                                            <input type="date" class="form-control-sm" id="date" name="plan[date]" style="margin-bottom: 5px; margin-right: 5px;" required>
                                            <label for="time" class="form-label">Time: </label>
                                            <input type="time" class="form-control-sm" id="time" name="plan[time]" style="margin-bottom: 15px;" required><br>
                                            <button class="btn btn-info" style="cursor:pointer; margin-bottom: 20px;">Update Date and Time</button>
                                        </form>
                                    <% } %> 
                                    <form class="delete-plan-form" action="/myplanner/<%=plan.id%>?_method=DELETE" method="POST">
                                        <button class="btn btn-sm btn-danger" style="cursor:pointer">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
        <%  } %>
        <!-- End of iteration -->
        <div id="map" style="width:100%; height: 500px;"></div>
    </div>

<% } else { %>
    <!-- Additional markup section further indicating to user to add to their plan (Optional) -->
    <div class="planner-prompt-container">
        <!-- <img class="planner-prompt-image" src="images/empty.jpeg">
        <div class="planner-prompt-headline">Nothing here yet, go to our <a class="" href="/thingstodo" style="color:white; font-weight: bold;">things to do section </a>to start adding to your planner</div> -->
    </div>
    <% } %> 
<% } %> 
<script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const plans = {features: <%-JSON.stringify(plans.thingstodo)%>}
</script>
<script src="/javascript/mapMyPlanner.js"></script>

<%- include("../partials/main_footer") %>